/LintingToolMain/nbproject/private/
/LintingToolMain/build/
/LintingToolMain/dist/
/Source
/Sign Jar.bat
/Command Line Variable Add.bat
/Create Jar and Sign.bat
/Create Jar.bat
/Create Signer.bat
/My Version/LintingToolMain_Kenneth/nbproject/private/
/My Version/LintingToolMain_Kenneth/build/
/.gitignore
/My Version
